body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  background: #fff none repeat scroll 0% 0%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  /* Animation */
}
.page-wrapper .bark-loading.is-hidden {
  display: none;
}
.page-wrapper .bark-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.page-wrapper .bark-loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-wrapper .bark-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.page-wrapper .bark-loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.page-wrapper .header .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.page-wrapper .header .header-content .header-logo {
  width: 25%;
}
.page-wrapper .header .header-content .header-cart {
  width: 30px;
  height: 40px;
  position: relative;
}
.page-wrapper .header .header-content .header-cart .bark-count {
  position: absolute;
  left: 10px;
  top: 13px;
}
.page-wrapper .bark-main .bark-block--content {
  text-align: center;
}
.page-wrapper .bark-main .bark-block--content .bark-block__container {
  padding: 40px 20px;
}
.page-wrapper .bark-main .bark-block--content .bark-block__container .bark-block__heading {
  font-weight: 400;
}
.page-wrapper .bark-main .bark-block--content .bark-block__container .bark-block__paragraph {
  color: #bdb7b7;
  font-weight: 300;
}
.page-wrapper .bark-main .bark-block--product {
  background: #ebf6f8;
  text-align: center;
  padding: 41px 20px;
}
.page-wrapper .bark-main .bark-block--product .bark-block__container {
  background: #fff;
  border: #ebebeb;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.16);
}
.page-wrapper .bark-main .bark-block--product .bark-block__container .bark-block__image {
  width: 70%;
}
.page-wrapper .bark-main .bark-block--product .bark-block__container .bark-block__title {
  font-weight: 300;
  padding: 0 50px;
}
.page-wrapper .bark-main .bark-block--product .bark-block__container .bark-block__price {
  color: #ff5c00;
  font-weight: bold;
}
.page-wrapper .bark-main .bark-block--product .bark-block__container .bark-block__btn {
  display: inline-block;
  background: #ff5c00;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  text-transform: uppercase;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 14px;
}
.page-wrapper .bark-main .bark-cart.is-hidden .bark-cart__contents {
  transform: translate(0, 0);
}
.page-wrapper .bark-main .bark-cart.is-hidden .bark-cart__overlay {
  display: none;
}
.page-wrapper .bark-main .bark-cart .bark-cart__overlay {
  background: #000;
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  opacity: 0.5;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 90%;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  transform: translate(-100%, 0);
  border-left: 1px solid #ebebeb;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  z-index: 100;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__header .bark-cart__close {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product {
  padding: 30px 0;
  overflow-y: scroll;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product .bark-cart__product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 30px;
  margin: 15px;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product .bark-cart__product-item .bark-cart__product-img {
  width: 80%;
  margin: auto;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product .bark-cart__product-item .bark-cart__product-info .bark-cart__product-title {
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product .bark-cart__product-item .bark-cart__product-info .bark-cart__product-price {
  color: #ff5c00;
  font-weight: bold;
  margin-top: 0;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product .bark-cart__product-item .bark-cart__product-info .bark-cart__product-remove {
  color: #bdb7b7;
  border-bottom: 2px solid #bdb7b7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding-bottom: 3px;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ebebeb;
  padding: 20px;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__total p {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__total button {
  background: #ff5c00;
  border: none;
  color: #fff;
  width: 300px;
  padding: 20px 0;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  cursor: pointer;
}
.page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__total a {
  color: #000;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 3px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-wrapper .header {
    position: absolute;
    width: 100%;
  }
  .page-wrapper .header .header-content {
    align-items: center;
    padding: 40px;
  }
  .page-wrapper .header .header-content .header-logo {
    width: 10%;
  }
  .page-wrapper .header .header-content .header-cart {
    width: 30px;
    height: 40px;
    cursor: pointer;
  }
  .page-wrapper .header .header-content .header-cart .bark-count {
    font-size: 18px;
    top: 30%;
    left: 30%;
  }
  .page-wrapper .bark-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  .page-wrapper .bark-main .bark-block--content {
    margin: auto;
    height: inherit;
    display: flex;
  }
  .page-wrapper .bark-main .bark-block--content .bark-block__container {
    padding: 0;
    max-width: 65%;
    margin: auto;
  }
  .page-wrapper .bark-main .bark-block--content .bark-block__container .bark-block__heading {
    font-size: 35px;
  }
  .page-wrapper .bark-main .bark-block--content .bark-block__container .bark-block__paragraph {
    font-size: 20px;
  }
  .page-wrapper .bark-main .bark-block--product {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0;
  }
  .page-wrapper .bark-main .bark-block--product .bark-block__container {
    width: fit-content;
    margin: auto;
  }
  .page-wrapper .bark-main .bark-block--product .bark-block__container .bark-block__image {
    width: 100%;
  }
  .page-wrapper .bark-main .bark-cart .bark-cart__contents {
    width: 33%;
  }
  .page-wrapper .bark-main .bark-cart .bark-cart__contents .bark-cart__product .bark-cart__product-item {
    align-items: center;
  }
}

/*# sourceMappingURL=bark.css.map */
