$primary-color: #000;
$breakpoint-desktop: 1024px;
$background-main: #fff;
$background-secondary: #ebf6f8;
$background-btn: #ff5c00;
$brand-lightgrey: #ebebeb;
$brand-darkgrey: #bdb7b7;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  background: #fff none repeat scroll 0% 0%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;

  .header {
    .header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px;

      .header-logo {
        width: 25%;
      }

      .header-cart {
        width: 5%;
      }
    }
  }

  .bark-main {
    .bark-block--content {
      text-align: center;
      .bark-block__container {
        padding: 40px 20px;
        .bark-block__paragraph {
          color: $brand-darkgrey;
        }
      }
    }
    .bark-block--product {
      background: $background-secondary;
      text-align: center;
      padding: 41px 20px;

      .bark-block__container {
        background: $background-main;
        border: $brand-lightgrey;
        padding: 20px 0;
        .bark-block__image {
          width: 70%;
        }
        .bark-block__title {
          font-weight: 600;
          padding: 0 50px;
        }
        .bark-block__price {
          color: #ff5c00;
          font-weight: bold;
        }
        .bark-block__btn {
          display: inline-block;
          background: $background-btn;
          color: #fff;
          text-decoration: none;
          padding: 15px 40px;
          text-transform: uppercase;
          border-radius: 25px;
          margin-bottom: 10px;
          font-size: 14px;
        }
      }
    }

    .bark-cart.is-hidden .bark-cart__contents {
      transform: translate(0, 0);
    }

    .bark-cart {
      .bark-cart__contents {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 90%;
        height: 100%;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        transform: translate(-100%, 0);
        border-left: 1px solid $brand-lightgrey;
        display: grid;
        grid-template-rows: 1fr 6fr 1fr;

        .bark-cart__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px 20px;
          border-bottom: 1px solid $brand-lightgrey;
          align-items: center;

          .bark-cart__close {
            background: none;
            border: none;
            font-weight: bold;
            font-size: 16px;
          }
        }
        .bark-cart__product {
          padding: 30px 0;
          overflow-y: scroll;
          .bark-cart__product-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: 1px solid $brand-lightgrey;
            padding-bottom: 30px;
            margin: 15px;
            .bark-cart__product-img {
              width: 80%;
              margin: auto;
            }
            .bark-cart__product-info {
              .bark-cart__product-title {
                font-weight: 600;
                margin: 0;
              }
              .bark-cart__product-price {
                color: #ff5c00;
                font-weight: bold;
                margin-top: 0;
              }
              .bark-cart__product-remove {
                color: $brand-darkgrey;
                text-decoration: underline;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 2px;
              }
            }
          }
        }
        .bark-cart__total {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-top: 1px solid $brand-lightgrey;
          padding: 20px;
          p {
            font-weight: bold;
            margin: 0;
            font-size: 18px;
          }
          button {
            background: $background-btn;
            border: none;
            color: #fff;
            width: 300px;
            padding: 20px 0;
            border-radius: 50px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 20px 0;
          }
          a {
            color: $primary-color;
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    .header {
      position: absolute;
      width: 100%;
      .header-content {
        align-items: center;
        padding: 40px;
        .header-logo {
          width: 10%;
        }

        .header-cart {
          width: 30px;
          height: 30px;
        }
      }
    }

    .bark-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;
      .bark-block--content {
        margin: auto;
        .bark-block__container {
          padding: 0;
          max-width: 65%;
          margin: auto;
          .bark-block__heading {
            font-size: 35px;
          }
          .bark-block__paragraph {
            font-size: 20px;
          }
        }
      }

      .bark-block--product {
        padding: 232px 20px;
        display: flex;
        align-items: center;
        .bark-block__container {
          width: fit-content;
          margin: auto;
          .bark-block__image {
            width: 100%;
          }
        }
      }

      .bark-cart {
        .bark-cart__contents {
          width: 30%;
          .bark-cart__product {
            .bark-cart__product-item {
              align-items: center;
            }
          }
        }
      }
    }
  }
}
